body {
  margin: 0;
  font-family: monospace;
  background-color: #121F28;
  color: white;
}

a {
  text-decoration: none;
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}